	<div >
		<%= div_for comment do %>
			<p>
			<div id="posted_indent">Posted <%= time_ago_in_words(comment.created_at) %><br /></div>
			<div id="comment_indent"><%= comment.body %></div>
			</p>
		<% end %>
	</div>